@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: "Inter";
    src: url("../assets/fonts/Inter.ttf") format("truetype");
}

@font-face {
    font-family: 'DIN 2014';
    src: url("../assets/fonts/DIN2014-Regular.woff");
    src: local('DIN 2014 Regular'), local('DIN2014-Regular'),
        url("../assets/fonts/DIN2014-Regular.woff") format('woff');

    font-weight: normal;
    font-style: normal;
}

.slider {
    height: 75vh;
    background: url('../assets/bopomofo-background-images/1-background.jpg') no-repeat center center/cover;
    animation: slide 20s infinite;
}

@keyframes slide{
    25%{
        background: url('../assets/bopomofo-background-images/2-background.jpg') no-repeat center center/cover;
    }
    25%{
        background: url('../assets/bopomofo-background-images/3-background.jpg') no-repeat center center/cover;
    }
    25%{
        background: url('../assets/bopomofo-background-images/4-background.JPG') no-repeat center center/cover;
    }
    25%{
        background: url('../assets/bopomofo-background-images/4-background.JPG') no-repeat center center/cover;
    }
}


.navbar-container {
    font-family: "Inter";
}

.order-ahead-container {
    background: url("../assets/images/below-image.png") no-repeat center center/cover;
    height: 70vh;
}

.order-ahead-ul:first-child {
    font-family: "Inter";
}

.order-ahead-btn:hover  {
    background-color: #fff;
    color:#e26650;
}

.story-container {
    height: 66vh;
    font-family: 'DIN 2014';
}

.footer {
    height: 55vh;
    background-color: #e26650;
    font-family: 'DIN 2014';
}

.story-ul button {
    border-color: #e26650;
    color: #e26650;
    transition: 0.1s background-color linear, 0.1s color linear;
}

.story-ul button:hover {
    color: #fff;
    background-color: #e26650;
}


.three-images-container {
    font-family: 'DIN 2014';
    background: url("../assets/images/peony_background.jpg") no-repeat center center/cover;
}

.three-images-ul button {
    border-color: #e26650;
    color: #e26650;
    transition: 0.1s background-color linear, 0.1s color linear;
}


.three-images-ul button:hover {
    background-color: #e26650;
    color: #fff;
}

.footer-logo-container {
    height: 35%;
}

.footer-content-container {
    height: 50%;
}

.about-mission {
    height: 42vh;
}

.mission-first-h {
    font-family: "Inter";
}

.mission-second-p, .mission-third-p {
    font-family: 'DIN 2014';
}

.about-story {
    background: url("../assets/images/peony_background.jpg") no-repeat center center/cover;
    height: 90vh;
}


.about-story-ul {
    font-family: 'DIN 2014';
}

.about-first-h {
    font-family: "Inter";
}
