@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.header {
    font-family: 'Righteous';
    background: url("../assets/images/background.jpg") no-repeat center center/cover;
    height: 75vh;
}

.about-div {
    background: url("../assets/images/background-about.webp") no-repeat center center/cover;
    font-family: 'Righteous';
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.upper-content-above {
    height: 80vh;
    font-family: 'Krona One';
}

.hr-div {
    height: 1px;
}